.sessions {
  @include padding($su-9, null, $su-10, null);
  background-color: $green-100;

  .header {
    display: none;
  }

  .form {
    max-width: 75rem;
    min-height: 80vh;


    &--left {
      @include padding($su-3, null, null, $su-4);
      background: url('../images/login.jpeg') center center no-repeat;
      background-size: cover;
      max-width: 25rem;
      width: 100%;

      &__brand {
        color: $neutral-100;
        font-family: cursive;
        font-size: $fs-7;

        &:hover {
          color: $neutral-200;
          text-decoration: none;
        }
      }
    }

    &--right {
      @include padding($su-10, $su-6, $su-10, $su-6);
      background-color: $neutral-100;
      max-width: 50rem;

      a.form--right__brand {
        color: $green-200;
        font-family: cursive;
        font-size: $fs-5;
        position: absolute;
        right: 2rem;
        text-align: left;
        top: 1.5rem;

        &:hover {
          color: $green-100;
          text-decoration: none;
        }
      }

      &__headline {
        color: $neutral-500;
      }

      &__label {
        color: $neutral-500;
      }

      &__input {
        background-color: $neutral-100;
        border-bottom: 1px solid $neutral-500;
        color: $neutral-300;

        &::placeholder {
          color: $neutral-300;
        }
      }

      a {
        color: $neutral-500;

        &:hover {
          color: $neutral-400;
        }
      }
    }
  }

  .footer {
    display: none;
  }
}
