.dashboard-layout.show {
  .row:hover .note {
    background-color: $neutral-100;
    color: $neutral-500;
  }

  .row:hover .note:hover {
    background-color: $yellow-100;
    color: $yellow-500;

    @include respond-to('md') {
      transform: scale(1.1);
    }
  }
}

.dashboard {
  font-size: $fs-4;

  &__views {
    color: $neutral-500;
    display: flex;
    font-size: $fs-6;
  }

  &__view:hover {
    color: $neutral-400;
  }

  &__view--active {
    color: $green-300;

    &:hover {
      color: $green-200;
    }
  }

  &__plus-icon {
    font-size: $fs-1;
    vertical-align: inherit;
  }

  &__sort {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $neutral-500;
    color: $neutral-500;

    &:focus {
      outline: none;
    }
  }
}
