.footer {
  @include padding($su-2, $su-6, $su-2, $su-6);
  background-color: transparent;
  color: $white;
  font-size: $fs-4;
  font-weight: lighter;
  letter-spacing: .2rem;
  text-align: center;

  @include respond-to('sm') {
    @include padding($su-2, null, $su-2, null);
    text-align: right;
  }

  &__slogan {
    color: $green-100;
    font-style: italic;
  }
}
