.footer {
  @include padding($su-4, $su-4, $su-4, $su-4);
  background-color: transparent;
  color: $white;
  font-size: $fs-4;
  letter-spacing: .2rem;
  text-align: center;

  &__slogan {
    color: $neutral-500;
    font-style: italic;
  }
}
