.header {
  @include padding($su-3, null, $su-3, null);
  background-color: transparent;
  font-size: $fs-5;

  &__list {
    align-items: center;
    display: flex;
    list-style: none;
  }

  &__brand {
    color: $yellow-200;
    font-family: cursive;
    font-size: $fs-9;

    &:hover {
      color: $yellow-100;
      text-decoration: none;
    }

    span {
      vertical-align: bottom;
    }

    span:hover {
      color: $neutral-400;
    }
  }

  &__link {
    color: $neutral-500;

    &:hover {
      color: $neutral-400;
      text-decoration: none;
    }
  }
}
