.errors {
  background: url("../images/errors.jpeg") center center no-repeat;
  background-blend-mode: luminosity;
  background-color: hsla(0, 100%, 100%, .8);
  background-size: cover;

  &__container {
    font-size: $fs-4;
    left: 5%;
    max-width: 40rem;
    position: absolute;
    top: 25%;
  }

  &__headline {
    color: $white;
    font-size: $fs-8;
  }

  .button--transparent {
    border-color: $white;
    color: $white;

    &:hover {
      border-color: $green-100;
      color: $neutral-500;
    }
  }

  header,
  footer {
    display: none;
  }
}
