.form {
  @include margin(null, auto, $su-8, auto);
  @include padding(null, $su-6, null, $su-6);
  border-radius: 1rem;
  display: flex;
  font-size: $fs-4;
  max-width: 100rem;
  width: 100%;

  @include respond-to('lg') {
    @include padding(null, 0, null, 0);
    box-shadow: 0 .2rem .5rem hsla(0, 0%, 0%, .2);
  }

  &--left {
    @include padding($su-3, $su-6, $su-6, $su-6);
    background-color: $white;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0 .2rem .3rem hsla(0, 0%, 0%, .2);
    line-height: 1.5;
    max-width: 40rem;
    position: relative;
    width: 100%;

    @include respond-to('lg') {
      box-shadow: none;
    }
  }

  &--right {
    @include margin(null, auto, null, auto);
    @include padding($su-7, $su-6, $su-8, $su-6);
    background-color: $green-100;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0 .2rem .3rem hsla(0, 0%, 0%, .2);
    max-width: 60rem;
    position: relative;
    text-align: center;
    width: 100%;

    @include respond-to('md') {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    @include respond-to('lg') {
      box-shadow: none;
    }

    &__headline {
      @include margin(null, null, $su-6, null);
      font-size: $fs-9;
    }

    &__field {
      @include margin(null, auto, null, auto);
      max-width: 40rem;
    }

    &__label {
      display: block;
      font-size: $fs-2;
      font-weight: bolder;
      letter-spacing: .2rem;
      text-align: left;
      text-transform: uppercase;
    }

    &__input {
      @include margin(null, null, $su-5, null);
      @include padding(null, $su-1, $su-1, $su-1);
      border: none;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .button {
      max-width: 40rem;
      width: 100%;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
